body,
h1,
h2 {
    font-family: "Raleway", sans-serif;
}

h1 {
    text-align: center;
}

body,
html {
    height: 100%;
}

p {
    line-height: 2;
}

header {
    position: relative;
    letter-spacing: 4px;
    height: 100vh;
    margin: -10px;
}

nav {
    display: inline;
    height: 80px;
    list-style: none;
    font-size: 24px;
}

.nav-bar ul {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(29, 43, 24, 0.7);
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}

li {
    padding: 10px;
    color: white;
    cursor: pointer;
}

#frame-img {
    border-radius: 4px;
    filter: grayscale(50%);
}

#trilha {
    padding: 0.01em 16px;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 0.01em 16px;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

#conteudo-video {
    padding: 0.01em 16px;
    padding-top: 64px !important;
}

.drum-txt {
    text-shadow: 10px 10px 15px #000000;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    width: 100vw;
}

.quote-txt {
    text-align: center !important;
    letter-spacing: 4px;
}

.bgimg,
.bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {
    background-image: url("../assets/8.jpg");
    filter: grayscale(30%);
}
.bgimg2 {
    position: relative;
    background-image: url("../assets/IMG_2820.JPG");
    background-position: center bottom;
    height: 100vh;
    margin-right: -10px;
    margin-left: -10px;
}

.video-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px; */
}

footer {
    height: 50px;
    font-family: "roboto", sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    color: #c5c5c5;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer li {
    margin: 3px;
}

li a {
    color: #c5c5c5;
    text-decoration: none;
}
