.video-responsive {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
	.video-responsive {
		margin-bottom: 20px;
		width: 100%;
	}

	.main-text {
		font-size: medium;
	}
}
